body {
    background-color: black;
    color: white;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
    
    
/* Style for div element using class selector */
.my-div {
    border: 2px dotted white; /* Dotted border, 2 pixels wide */
    width: 100px; /* Set width to 100 pixels */
    height: 100px; /* Set height to 100 pixels */
}